/* Add styles for your app here */

/* Hide printers box by default */
.printer-list {
    display: none;
}

/* Activate printers box, dynamically added by printers.js */
.printer-list-active {
    display: initial;
}

#sourceTA {
    display: block;
}
#targetDiv {
    border: 1px dashed #333333;
    width: 600px;
    height: 400px;
}

.right {
    float: right;
}